<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411642753331-8h21ud27ur1var0nilucqltv794flfqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411642753331-8h21ud27ur1var0nilucqltv794flfqa</string>
	<key>API_KEY</key>
	<string>AIzaSyAkZqfHDsRzvl449U9cB_do7h9WNtzWQZM</string>
	<key>GCM_SENDER_ID</key>
	<string>411642753331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oleksandrShvidkyi.UIKit-for-iOS-15</string>
	<key>PROJECT_ID</key>
	<string>uikit-for-ios-15</string>
	<key>STORAGE_BUCKET</key>
	<string>uikit-for-ios-15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411642753331:ios:ca1db6f0d6e95c96f40e46</string>
</dict>
</plist>